* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Utility classes */
.fragment {
    width: 100%;
    height: 100%;
}

.pg-home {
    width: 320px;
    max-height: 450px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    /*border: 1px solid #B5C4CF;*/
    /*border-radius: 8px;*/
    padding: 24px 12px;
}

.c-title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-title__logo {
    color: #153C55;
    font-size: 14px;
    line-height: 19px;
}

.c-title__logo-highlight {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.c-title__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    padding: 0;
}

.c-title__actions li {
    cursor: pointer;
}

.c-title__actions li img {
    height: 16px;
    width: 16px;
}

.c-title__actions li:not(:first-child) {
    margin-left: 12px;
}


/* Sources List component*/
.c-sources-list {
    width: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    list-style: none;
    padding: 0;
    margin: 32px 0 0;
}

.c-source {
    width: 100%;
    height: 40px;


    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border-radius: 8px;
    color: #153C55;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 12px;
}

.c-source:not(:last-child) {
    margin-bottom: 8px;
}

.c-source--active {
    background: #EDF8FF;
    border: 1px solid #4FA3DD;
    box-sizing: border-box;
    border-radius: 8px;
}

.c-source .c-source__action {
    font-weight: 600;
    text-align: right;
    color: #DFE6EB;
}

.c-source.c-source--active .c-source__action{
    color: #153C55;
}

.c-source__label {}

/* Input list component */
.c-input-list {
    width: 100%;

    margin-top: 42px;
    margin-bottom: 48px;
}

.c-input-list__title {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: -12px;
}

.c-input-list__link {
    border: none;
    color: #B5C4CF;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    padding: 0 0 0 0;
    text-align: right;
    outline: none;
}

.c-input {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;
}

.c-input__button {
    width: 48px;
    height: 40px;

    background: #DFE6EB;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
}

.c-input__button--active {
    background: #EDF8FF;
}

.c-input__options {
    width: 236px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #B5C4CF;
    border-radius: 8px;
    color: #153C55;
    font-size: 12px;
    line-height: 16px;
}

.c-input__options:focus, .c-input__options:active {
    outline: none;
}

/* Button component */
.c-button {
    width: 296px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.c-button--primary {
    background: #C7000F;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

/* Navigation component */
.c-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 32px;
}

.c-nav__icon {
    cursor: pointer;
    margin-right: 94px;
}

.c-nav__title {
    color: #153C55;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}

/* Window list */
.c-window-list {
    height: 304px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 24px;
    overflow-y: scroll;
}

.c-window-list__window {
    width: 128px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    margin-bottom: 24px;
}

.c-window-list__window img {
    height: 96px;
    width: 100%;

    border-radius: 8px;
}

.c-window-list__name {
    color: #153C55;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-top: 12px;
}
